html,
body {
  font-family:  Sans,sans-serif
}

#auryc-modal-container {

}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  width: 100%;
  min-height: 300px;
  background: white;
  z-index: 2;
  border-radius: 5px;
  padding: 2em;
  box-sizing: border-box;
  color: #292e3f;
  font-size: 12px;
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.75);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close:hover {
  color: #292e3f;
}

.logo {
  width: 174px;
  margin-bottom: 20px;
}
.required-fields {
  font-style: italic;
  color: #6f738c;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 0;
}

.feedback {
  margin: 30px 0;
}

.nps-rating-text {
  margin-bottom: 12px;
}
.nps-rating {
  display: flex;
  justify-content: space-evenly;
}
.rating {
  background-color: #f6f7f9;
  width: 28px;
  height: 29px;
  line-height: 29px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.rating:hover {
  background-color: #C6D3D9;
  color: #f6f7f9;
}
.nps-rating-label {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin: 0 auto;
  color: #6f738c;
  font-size: 10px;
}

.submit {
  background: #C6D3D9;
  border: 1px solid #C6D3D9;
  width: 199px;
  border-radius: 3px;
  height: 35px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  margin: 0 auto 20px;
}

.sponsor {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.sponsor a{
  color: #292e3f;
  text-decoration: none;
}
.sponsor a:hover {
  text-decoration: underline;
}
.sponsor img {
  width: 60px;
  height: 20px;
  vertical-align: middle;
}